streamlit==1.35.0
streamlit-webrtc==0.45.3
numpy==1.26.4
scipy==1.13.1
pydub==0.25.1
matplotlib==3.9.0
opencv-python==4.9.0.80
requests==2.32.3
soundfile==0.12.1
twilio==9.0.1
scikit-learn==1.5.0
librosa==0.10.2.post1
asyncio
aiortc==1.6.0
av==11.0.1
pandas==2.2.2
